<header>
  <h1 align=center>Welcome to Student Directory</h1>
  <nav>
    <ul>

      <!-- <li><a [routerLink]="['login/home']">Home</a></li> -->
      <li><a [routerLink]="['cse']">CSE</a></li>
      <li><a [routerLink]="['ece']">ECE</a></li>
      <li><a [routerLink]="['eee']">EEE</a></li>
      <li><a [routerLink]="['mech']">MECH</a></li>
    </ul>
  </nav>
</header>



<section id="main">
  <!--<app-home [ninja]="ninja" (onYell)="yell($event)">Hello there!</app-home>-->
  <router-outlet></router-outlet>
</section>
